mixin component5
    .hobbies
        h3.hobbies__heading Hobbies
        .hobbies__info 
            .hobbies__banner
                img.logo(src="/src/img/game.png", alt="image")
            .hobbies__text
                .hobbies__def 
                    h4.name Gaming
                    h5.hobbies__description Quisque feugiat malesuada molestie.

        .hobbies__info 
            .hobbies__banner
                img.logo(src="/src/img/ipad.png", alt="image")
            .hobbies__text
                .hobbies__def 
                    h4.hobbies__name Cooking
                    h5.hobbies__description Quisque feugiat malesuada molestie.

        .hobbies__info 
            .hobbies__banner
                img.logo(src="/src/img/velo.png", alt="image")
            .hobbies__text
                .hobbies__def 
                    h4.hobbies__name Biking
                    h5.hobbies__description Quisque feugiat malesuada molestie.