mixin component1
    .person
        img.person__ava(src='/src/img/billy1.png' alt='billy')
        .person__title
            h3.name Billy Pearson
            h4.job Front-end developer
        .person__contacts
            .person__mail
                img.email(src='/src/img/email.png' alt='email')
                h4.email-logo billy@example.com
            .person__call-phone
                img.phone(src='/src/img/call.png' alt='phone')
                h4.call (+603) 546 624 342
        .person__text 
            p.info Self-motivated developer, who is willing to learn and create outstanding UI applications.