mixin component2a
    .skill
        h4.heading Front end
        .progresses
            .subject
                h5.subject__heading React
                progress(value='65' max='100')
            .subject
                h5.subject__heading Javascript
                progress(value='80' max='100')
            .subject
                h5.subject__heading CSS
                progress(value='90' max='100')
            .subject
                h5.subject__heading Vue
                progress(value='65' max='100')
            .subject
                h5.subject__heading Redux
                progress(value='80' max='100')
            .subject
                h5.subject__heading React Native
                progress(value='90' max='100')