mixin component3
    .design 
        h4.design__title Design
        .progresses
            .subject 
                h5.subject__heading Figma
                progress(value='60' max='100')
            .subject 
                h5.subject__heading Photoshop
                progress(value='80' max='100')    