mixin component9

    .project 
        .project__banner
            img.image(src="/src/img/checkout.png", alt="image") 
        .project__info 
            ul.lang
                li.type #HTML
                li.type #CSS
                li.type #responsive
            h3.project__title Checkout
            p.project__text In this project, I work with HTML and CSS to create a responsive page . The design is from devchallenge.io. Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie. 

            .project__buttons 
                button.project__buttons--btn1 Demo
                button.project__buttons--btn2 Code