mixin component11a
    .paper
        .paper__head
            .paper__info 
                h4.paper__name Blog
                h3.paper__title How to organize your CSS
            .paper__banner 
                img.paper__img(src="/src/img/lapop.png" alt="laptop")
        .paper__words
            p.paper__text In this article I tell the story about Proin eu justo sit amet lacus bibendum tincidunt. Vivamus non volutpat nisl, a luctus mi.  
            p.paper__text2 Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie.
        a.paper__link(href="") dev.to