mixin component12
    .billy
        img.ava(src='/src/img/billy1.png' alt='billy')
        .billy__info
            .billy__intro
                .billy__title
                    h3.name Billy Pearson
                    h4.job Front-end developer
                .billy__contacts
                    .billy__post
                        img.email(src='/src/img/email.png' alt='email')
                        h4.email-logo billy@example.com
                    .billy__call-phone
                        img.phone(src='/src/img/call.png' alt='phone')
                        h4.call (+603) 546 624 342
            .billy__text 
                p.info Self-motivated developer, who is willing to learn and create outstanding UI applications.
                p.billy__des Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie.