mixin component8a

    .index 
        .index__banner
            img.image(src="/src/img/gallery.png", alt="image") 
        .index__info 
            ul.lang
                li.type #HTML
                li.type #CSS
                li.type #responsive
            h3.index__title My Gallery
            p.index__text In this index, I work with HTML and CSS to create a responsive page . The design is from devchallenge.io. Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie. 

            .index__buttons 
                button.index__buttons--btn1 Demo
                button.index__buttons--btn2 Code