include ../components/component12
include ../components/section-middle
include ../components/section-last

mixin layer-two
    .layer-two 
        +component12
        +section-middle
        +section-last