mixin paging
    .paging 
        ul.page 
            li.number 
                .w 
                    img.paging__img-arr(src="/src/img/left.png", alt="dots")
            li.number 
                .w 1
            li.number 
                .w 2
            li.number 
                .w 3
            li.dots
                img.paging__img(src="/src/img/dots.png", alt="dots")
            li.number 
                .w 10
            li.number 
                .w 
                    img.paging__img-arr(src="/src/img/right.png", alt="dots")

