include ../components/component6a
include ../components/component7a
include ../components/component8a
include ../components/component9a
include ../components/paging

mixin section-last
    .section-last 
        .way-one
            +component6a
        .way-two 
            +component7a
            +component8a
            +component9a
        +paging 
