include ../components/component2a
include ../components/component5
include ../components/component11a
include ../components/component4a


mixin section-middle
    .section-middle 
        .part-one
            +component2a
            +component5
        .part-two
            +component11a
            +component4a


        

