include ../components/section-flex
include ../components/section-block
include ../components/section-article

mixin section-two
    .section-two
        +section-flex
        +section-block
        +section-article