include ../components/component7
include ../components/component8
include ../components/component9
include ../components/component6

mixin section-block
    .section-block
        +component6 
        +component7 
        +component8
        +component9