extends ../template/page
include ../components/layer-one
include ../components/layer-two




block variables
  - const pageTitle = 'index';

block main
  main
    - let author = {status: true}
    if author.status
      +layer-two
    else 
      +layer-one
