@use '../../config/' as *;

.section-middle{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    
.part-one{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.part-two{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
}